.history-section{
    width: 70%;
    margin-left: 210px;
    margin-top: 35px;
    height: 80vh;
    border: 1px solid black;
    border-radius: 10px;
}

.history-section h2{
    text-align: center;
}
.branch-details {
    width: 98.%;
    height: 70vh;
    
}
.branch-details th, .branch-details td{
    
    text-align: left;
    font-size: 13px;
    
    width: 100px; 
  }
.cancel{
    padding: 10px 30px;
    color: black;
    background-color: transparent;
    border: 1px solid black;
    margin-left: 650px;
    margin-top: 20px;
}
.cancel:hover{
    background-color: red;
    color: white;

}
.cancel:active{
    transform: scale(0.9);
}